
<div class="contenedor-login">
  <div class="contenedor2-login">
    <div class="contenedor-foto-login">
      <img src="../../../../assets/images/logo2.png" class="foto-logo-auth">
    </div>
    <!--
      Ya que la vista de login y register es practicamente similar (solo cambia el form), esta será la página principal de ambas
      Con el router-outler irá cambiando el contenido según cambie la url
    -->
    <div class="contenedor-form-login">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
