<form class="formulario-login h-100" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()">

  <div class="titulo-form">LOGIN</div>

  <div class="zona-email">
    <input class="inputs-login form-control-plaintext w-75" type="email" formControlName="email" placeholder="CORREO ELECTRÓNICO">
    <span class=""></span>
  </div>

  <div class="zona-password">
    <input class="inputs-login form-control-plaintext w-75" type="password" formControlName="password" placeholder="CONTRASEÑA">
    <span class=""></span>
  </div>

  <div class="zona-boton mt-5">
    <button class="boton-submit w-25" type="submit" [disabled]="miFormulario.invalid">INICIAR SESIÓN</button>
  </div>

  <div class="zona-redireccion mt-5">
      <span class="sugerencia">¿No tienes cuenta?</span>
      <a routerLink="/auth/registro" class="redireccion"> REGISTRATE AQUÍ</a>
  </div>
</form>

