<form class="formularios-auth" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()">

  <div class="titulo-login">LOGIN</div>

  <div class="user-pass-login">
    <div class="zona-email">
      <input class="inputs-auth form-control-plaintext text-center" type="email" formControlName="email" placeholder="CORREO ELECTRÓNICO">
    </div>

    <div class="zona-password">
      <input class="inputs-auth form-control-plaintext text-center" type="password" formControlName="password" placeholder="CONTRASEÑA">
    </div>
  </div>

  <div class="zona-boton mt-2">
    <button class="boton-submit w-25" type="submit" [disabled]="miFormulario.invalid">INICIAR SESIÓN</button>
  </div>

  <div class="zona-redireccion mt-5 mb-3">
      <span class="sugerencia">¿No tienes cuenta?</span>
      <a routerLink="/auth/registro" class="redireccion"> REGISTRATE AQUÍ</a>
  </div>
</form>

