.contenido{
  display: flex;
  flex-direction: column;
}

.contenedor-titulo{
  height: 19%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-family: Cocogoose;
  font-size: 6rem;
  font-weight: bold;
  color:#015BB7
}


/* ////////////////////////////////////////////////////// */
/* DASHBOARD */
/* ////////////////////////////////////////////////////// */

  /* TITULO DASHBOARD */

  .titulo-dashboard{
    text-align: center;
    font-size: 5rem;
    font-family: Cocogoose;
    color: #015BB7;
  }

  /* SECTION */

  .contenedor-cuerpo{
    height: 100%;
    margin-top: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
  }


  .bienvenida{
    display: flex;
    flex-direction: column;
    font-family: Cocogoose;
    font-size: 2rem;
    color: black ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .cont-info{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .contenedor-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
    grid-auto-rows: minmax(10px, auto);
  }

  .info-somos{
    border: 2px solid #015BB7;
    grid-column: 2;
    grid-row: 1 / 5;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-foto{
    overflow: hidden;
    grid-column: 2;
    grid-row: 1 / 5;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #foto1{
    border-bottom: 1px solid #015BB7;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  #foto2{
    border-bottom: 1px solid #015BB7;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 2px;
  }

  .info-deportes{
    border: 2px solid #015BB7;
    grid-column: 3;
    grid-row: 1 / 5;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .titulo-deportes{
    background-color: #015BB7;
    color: white;
    font-family: Cocogoose;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .texto-deportes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
  }

  .bloque-deportes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .lista-deportes>li{
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .info-instalaciones{
    border: 2px solid #015BB7;
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: white;
    display: flex;
    flex-direction: column;
  }


  .texto-instalaciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    height: 75%;
  }

  /* FIN SECTION */





/* ////////////////////////////////////////////////////// */
/* MI PERFL (USER) */
/* ////////////////////////////////////////////////////// */

.contenido-user{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-datos-reservas{
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #015BB7;
  border-radius: 6px;
}

.mis-datos-div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    grid-auto-rows: minmax(10px, auto);
    width: 95%;
}

.mis-datos-bloques{
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  border: 2px solid black;
}

.mis-datos-bloques>input{
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
}

.mis-datos-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs-login{
  outline: none;
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: bold;
  margin-top: 3rem;
}

.mis-reservas-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.mis-datos-titulo{
  font-family: Cocogoose;
  font-size: 1.5rem;
}

.titulos-datos{
  font-weight: bold;
  color: white;
  background-color: #015BB7;
  width: 90%;
}

.reservas{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  grid-auto-rows: minmax(10px, auto);
}

.cont-reservas{
  background-color: #015BB7;
  border: 1px solid white;
}

.id-reserva{
  text-align: center;
}

.reserva-info{
  margin: 0.5rem;
  color: white;
}

.titulo-reservas{
  background-color: white;
  color: black;
  font-weight: bold;
}

.borrar-reservas{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.boton-borrar{
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  background-color: black;
  font-weight: bold;
  color: white;
}
/* FOOTER */
.contenedor-footer{
  margin-top: 1rem;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.footer-general{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.footer-social{
  margin-left: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-social-titulo{
  color: #C00000;
  font-weight: bold;
}

.footer-social-imagenes{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.footer-contacto{
  text-align: center;
}

.correo{
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.footer-informacion{
  justify-content: center;
  align-items: center;
}

.lista-informacion{
  justify-content: center;
  align-items: center;
  list-style: none;
}

.lista-informacion>li:hover, .texto-privacidad>span:hover{
  cursor: pointer;
}

.texto-privacidad{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* FIN FOOTER */
