.contenido{
  display: flex;
  flex-direction: column;
}

.contenedor-titulo{
  height: 19%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TITULO DASHBOARD */

.titulo-dashboard{
  text-align: center;
  font-size: 5rem;
  font-family: Cocogoose;
  color: #015BB7;
}

/* SECTION */

.contenedor-cuerpo{
  height: 100%;
  margin-top: 3rem;
  border-radius: 10px;
  background-color: #015BB7;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}


.bienvenida{
  display: flex;
  flex-direction: column;
  font-family: Cocogoose;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cont-info{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  grid-auto-rows: minmax(10px, auto);
}

.info-somos{
  grid-column: 1;
  grid-row: 1 / 5;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.titulo-somos{
  color: black;
  font-family: Cocogoose;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-somos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
}

.info-deportes{
  grid-column: 2;
  grid-row: 1 / 5;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.titulo-deportes{
  color: black;
  font-family: Cocogoose;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-deportes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
}

.bloque-deportes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.lista-deportes>li{
  list-style: none;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}


.info-horarios-ubicacion{
  grid-column: 3;
  grid-row: 1 / 5;
  background-color: white;
  display: flex;
  flex-direction: column;
}


.texto-horarios-ubicacion{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  height: 75%;
}


/* FIN SECTION */

/* FOOTER */
.contenedor-footer{
  margin-top: 1rem;
  height: 20%;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.footer-general{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.footer-social{
  margin-left: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-social-titulo{
  color: #C00000;
  font-weight: bold;
}

.footer-social-imagenes{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.footer-contacto{
  text-align: center;
}

.correo{
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.footer-informacion{
  justify-content: center;
  align-items: center;
}

.lista-informacion{
  justify-content: center;
  align-items: center;
  list-style: none;
}

.lista-informacion>li:hover, .texto-privacidad>span:hover{
  cursor: pointer;
}

.texto-privacidad{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* FIN FOOTER */
