<div class="container-fluid contenedor-principal vh-100">
  <div class="row py-3 h-100 col-12">
    <!-- SIDEBAR -->
    <div class="col-lg-2 col-md-3 col-xs-4" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <!-- CONTENIDO -->
    <div class="contenido col-lg-10 col-md-9 col-xs-8" id="main">

      <!-- Titulo -->
      <div class="contenedor-titulo" id="titulo">
        <app-header></app-header>
      </div>


      <!-- Contenido -->
      <div class="contenedor-cuerpo">
        <div class="row cont-info">
          <div class="col-12 rounded contenedor-info h-100">

            <div class="info-somos rounded">
              <div class="info-foto text-center h-100" id="foto1">
                <img class="img-fluid" src="../../../assets/images/futsal/futsal02.jpg" width="100%">
              </div>
              <div class="info-foto text-center h-100">
                <img class="img-fluid" id="foto2" src="../../../assets/images/badminton/badminton01.jpg" >
              </div>
            </div>

            <div class="info-deportes text-center rounded">
              <div class="titulo-deportes text-center h-25">DEPORTES</div>
              <div class="texto-deportes h-75 rounded">
                <ul class="list-group lista-deportes">
                  <li >FÚTBOL SALA</li>
                  <li>BASKET</li>
                  <li>BALONMANO</li>
                  <li>VOLLEYBALL</li>
                  <li>HOCKEY</li>
                  <li>BADMINTON</li>
                  <li>PATINAJE</li>
                </ul>
              </div>
            </div>

            <div class="info-instalaciones rounded">
              <div class="titulo-deportes h-25 w-100">INSTALACIONES</div>
              <div class="texto-instalaciones">
                <span class="text-center"><strong>HORARIO</strong><hr>LUNES A DOMINGO DE 09:00H - 22:00H</span>
                <span class="text-center"><strong>UBICACIÓN</strong><hr>AVENIDA NAVARRA 141 (ZARAGOZA)</span>
                <span class="text-center"><strong>PRECIO</strong><hr>1 HORA - 10€ (PAGO PRESENCIAL)</span>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="contenedor-footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
