  /*******/
 /*LOGIN*/
/*******/

/* contenedor grande del login */
.contenedor-login{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 25%;
  left: 25%;
  width: 50%;
}

/* contenedor mediando del login (titulo + form) */
.contenedor2-login{
  width: 200%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* contenedor del titulo del login */
.contenedor-foto-login{
  text-align: center;
}

/* titulo del cuadro blanco "LOGIN" */
.titulo-login{
  font-family: Cocogoose;
  font-size: 45px;
  text-align: center;
}

/* contenedor donde están los input email y password */
.user-pass-login{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

/* contenedor blanco */
.contenedor-form-login{
  background-color: white;
  height: 50%;
  margin-bottom: 10%;
  border-radius: 10px;
}

/* contenedor de los formularios de login */
.formularios-auth{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/* contenedor del input email */
.zona-email{
  width: 40%;
}

/* contenedor de password */
.zona-password{
  width: 35%;
}

/* inputs comunes de register y login */
.inputs-auth{
  outline: none;
  border-bottom: 1px solid lightgray;
  color: black;
  font-weight: bold;

}

/* contenedor del submit */
.zona-boton{
  text-align: center;
}

/* boton de submit */
.boton-submit{
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
}

/* contenedor de redireccion (pregunta + enlace) */
.zona-redireccion{
  text-align: center;
}

 /* enlace */
.redireccion{
  text-decoration: none;
}









  /***********/
 /**REGISTER*/
/***********/

/* distribución de las filas de inputs del register */
.filas-inputs-register{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

/* titulo "REGISTER" */
.titulo-register{
  text-align: center;
  font-family: Cocogoose;
  font-size: 30px;
}

/* input del nombre */
.zona-nombre{
  text-align: center;
  width: 30%;
}

/* input apellidos */
.zona-apellidos{
  text-align: center;
  width: 35%;
}

/* boton submit del register */
.boton-submit-register{
  background-color: black;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}


/* PANTALLAS MEDIANAS*/
  /* Rango de resolución comprendido entre un ancho de 1000px y 1299px */
@media screen and (min-width: 1000px) and (max-width: 1299px) {

  .boton-submit{
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .filas-inputs-register{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .titulo-register{
    text-align: center;
    font-family: Cocogoose;
    font-size: 30px;
  }

  .zona-nombre{
    text-align: center;
    width: 30%;
  }

  .zona-apellidos{
    text-align: center;
    width: 35%;
  }

  .boton-submit-register{
    font-size: 14px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }

}


/* PANTALLAS PEQUEÑAS*/
  /* Rango de resolución comprendido entre un ancho de 1000px y 1299px */

@media screen and (min-width: 800px) and (max-width: 999px){
  .boton-submit-register{
    font-size: 14px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
}
