
<ul class="list-group " id="sidebar">
    <li class="list-group-item rounded text-center" routerLink="">HOME</li>
    <li class="list-group-item rounded text-center" routerLink="/user">MI PERFIL</li>
    <li class="list-group-item rounded text-center" routerLink="/reservas">RESERVAS</li>
    <li class="list-group-item rounded text-center" routerLink="/image">IMÁGENES</li>
    <li *ngIf="role === 1" class="list-group-item rounded text-center" routerLink="/admin">ADMIN</li>
    <li class="list-group-item rounded text-center" (click)="logout()" id="logout">LOGOUT</li>
</ul>

<!-- [routerLinkActiveOptions]="{ exact: true }" -->
