li:hover{
  cursor: pointer;
  background-color: rgb(13,110,253);
  color: white;
}
li{
  background-color: white;
  margin: 15px;
  color: black;
  font-size: 1.5rem;
}
ul{
  margin-top: 30%;
  height: 100%;
}

#logout{
  margin-top: 50%;
}
