<div class="container-fluid  vh-100 col-12">
  <div class="row py-3 h-100">
    <!-- SIDEBAR -->
    <div class="col-lg-2 col-md-3 col-xs-4" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- contenido página -->
    <div class="contenido-bookings col-lg-10 col-md-9 col-xs-8">

      <!-- titulo -->
      <div class="contenedor-titulo" id="titulo">
        <app-header></app-header>
      </div>

      <!-- TODO: AQUÍ IRIAN LAS IMÁGENES -->
      <div class="contenedor-imagenes h-75">
        <div class="overflow-hidden rounded">
          <img id="imagen01" src="../../../assets/images/basket/basket07.jpeg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen02" src="../../../assets/images/badminton/badminton01.jpg" width="85%">
        </div>
        <div class="overflow-hidden  rounded">
          <img id="imagen03" src="../../../assets/images/balonmano/balonmano04.jpg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen04" src="../../../assets/images/hockey/hockey01.jpg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen05" src="../../../assets/images/futsal/futsal05.jpg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen06" src="../../../assets/images/volleyball/volleyball03.jpg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen07" src="../../../assets/images/basket/basket06.jpeg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen08" src="../../../assets/images/futsal/futsal02.jpg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen09" src="../../../assets/images/balonmano/balonmano05.jpg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen10" src="../../../assets/images/balonmano/balonmano03.jpg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen09" src="../../../assets/images/balonmano/balonmano05.jpg" width="85%">
        </div>
        <div class="overflow-hidden rounded">
          <img id="imagen10" src="../../../assets/images/balonmano/balonmano03.jpg" width="85%">
        </div>
      </div>

      <div class="contenedor-footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>

