<div class="container-fluid vh-100 col-12">
  <div class="row py-3 h-100">
    <!-- SIDEBAR -->
    <div class="col-lg-2 col-md-3 col-xs-4 mb-2" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="contenido-bookings col-lg-10 col-md-9 col-xs-8">

      <div class="contenedor-titulo" id="titulo">
        <app-header></app-header>
      </div>

      <div class="contenedor-admin w-100 rounded ">
        <!-- PARTE DE USUARIOS -->
        <div class="admin-usuarios-reservas h-100">
          <div class="textos-admin">USUARIOS</div>
          <!-- FORMULARIO PARA BUSCAR USUARIOS -->
          <form class="admin-buscar " autocomplete="off" [formGroup]="formEmail" (ngSubmit)="findUser()">
            <input class="inputs-admin form-control-plaintext text-center" type="text" formControlName="correo"  name="email" placeholder="Email de usuario">
            <button class="boton-buscar rounded" type="submit" [disabled]="">Buscar</button>
          </form>
          <!-- DONDE VA A APARECER EL USUARIO -->
          <div class="admin-emails w-100" >
            <div class="h-50 w-100" *ngFor="let usuario of arrUsuarios">
              <div *ngIf="arrUsuarios.length > 0">
                <div>ID {{usuario.id}}</div>
                <div>NOMBRE {{usuario.name}}</div>
                <div>APELLIDOS {{usuario.surname}}</div>
                <div>CORREO ELECTRÓNICO {{usuario.name}}</div>
                <div>ROL {{usuario.role}}</div>
                <div>FECHA CREACIÓN {{usuario.created_at | date: 'mediumDate'}}</div>
              </div>
              <button type="submit" (click)="deleteUser(usuario.id)">BORRAR USUARIO</button>
            </div>
          </div>
        </div>

        <!-- PARTE DE RESERVAS -->
        <div class="admin-usuarios-reservas h-100">
          <div class="textos-admin">RESERVAS</div>
          <!-- FORMULARIO PARA BUSCAR RESERVAS -->
          <form class="admin-buscar">
            <input class="input-admin-fecha form-control-plaintext text-center" type="date">
            <button class="boton-buscar rounded" type="submit" [disabled]="">Buscar</button>
          </form>
        </div>
      </div>

      <div class="contenedor-footer mb-2">
        <app-footer></app-footer>
      </div>

    </div>
  </div>
</div>

