<div class="footer-general">
  <div class="footer-social h-100 col-3">
    <div class="footer-social-titulo">¡SÍGUENOS!</div>
    <div class="footer-social-imagenes">
      <a href="https://www.instagram.com/" target="_blank"><img src="../../../../assets/images/rrss/instagram.png" width="60%"></a>
      <a href="https://www.facebook.com/" target="_blank"><img src="../../../../assets/images/rrss/facebook.png" width="60%"></a>
      <a href="https://www.twitter.com/" target="_blank"><img src="../../../../assets/images/rrss/twitter-logo.png" width="60%"></a>
    </div>
  </div>
  <div class="footer-contacto h-100 col-3">
    <div class="footer-social-titulo text-center">CONTACTO</div>
    <div class="correo">info@polidapportivo.com</div>
  </div>
  <div class="footer-información h-100 col-3">
    <div class="footer-social-titulo text-center">INFORMACIÓN</div>
    <ul class="list-group lista-informacion mt-2">
      <li>Normas</li>
      <li>Peguntas frecuentes</li>
      <li>Consultas y sugerencias</li>
    </ul>
  </div>
  <div class="footer-privacidad h-100 col-3">
    <div class="footer-social-titulo text-center">PRIVACIDAD</div>
    <div class="texto-privacidad text-center">
      <span>Aviso Legal</span>
      <span>Protección de datos</span>
      <span>© 2022 Polidapportivo. All rights reserved</span>
    </div>

  </div>
</div>
