<form class="formularios-auth h-100" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="register()">

  <div class="titulo-register">REGISTRO</div>

  <div class="filas-inputs-register">
      <input class="inputs-auth form-control-plaintext zona-email text-center" type="email" formControlName="email" placeholder="CORREO ELECTRÓNICO" #emailRef>
      <input class="inputs-auth form-control-plaintext zona-password text-center" type="password" formControlName="password" placeholder="CONTRASEÑA">
  </div>

  <div class="filas-inputs-register">
      <input class="inputs-auth form-control-plaintext zona-nombre" type="text" formControlName="name" placeholder="NOMBRE">
      <input class="inputs-auth form-control-plaintext zona-apellidos" type="text" formControlName="surname" placeholder="APELLIDOS">
  </div>

  <div class="d-none">
    <input class="inputs-register form-control-plaintext" type="number" formControlName="role" placeholder="">
  </div>


  <div class="zona-boton">
    <button class="boton-submit-register w-25 mt-2" type="submit" [disabled]="miFormulario.invalid">REGISTRARSE</button>
  </div>

  <div class="zona-redireccion mt-3 mb-2">
    <span class="sugerencia">¿Ya tienes cuenta?</span>
    <a routerLink="/auth/login" class="redireccion"> VOLVER AL LOGIN</a>
</div>
</form>

