<form class="formulario-register h-100" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="register()">

  <div class="titulo-form">REGISTRO</div>

  <div class="zona-email">
      <input class="inputs-register form-control-plaintext w-75" type="email" formControlName="email" placeholder="CORREO ELECTRÓNICO" #emailRef>
  </div>

  <div class="zona-password">
      <input class="inputs-register form-control-plaintext w-75" type="password" formControlName="password" placeholder="CONTRASEÑA (MINIMO 4 CARACTERES)">
  </div>

  <div class="nombre-apellidos w-75">
      <input class="inputs-register form-control-plaintext w-25" type="text" formControlName="name" placeholder="NOMBRE">
      <input class="inputs-register form-control-plaintext w-50" type="text" formControlName="surname" placeholder="APELLIDOS">
  </div>

  <div class="d-none">
    <input class="inputs-register form-control-plaintext w-75" type="number" formControlName="role" placeholder="">
  </div>

  <div class="zona-boton">
    <button class="boton-submit w-25 mt-5" type="submit" [disabled]="miFormulario.invalid">REGISTRARSE</button>
  </div>

  <div class="zona-redireccion mt-5">
    <span class="sugerencia">¿Ya tienes cuenta?</span>
    <a routerLink="/auth/login" class="redireccion"> VOLVER AL LOGIN</a>
</div>
</form>

