<!-- Contenedor general -->
<div class="container-fluid col-12 vh-100">
  <!-- fila de las columnas -->
  <div class="row py-3 h-100">
    <!-- Columna del sidebar -->
    <div class="col-lg-2 col-md-3 col-xs-4" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- columna del contenido -->
    <div class="contenido-user col-lg-10 col-md-9 col-xs-8" id="main">
      <div class="contenedor-titulo" id="titulo">
        <app-header></app-header>
      </div>

      <!-- contenido de la vista -->
      <div class="contenedor-datos-reservas h-50">
        <div class="mis-datos-titulo text-center">MIS DATOS</div>
        <!-- texto debajo "MIS DATOS" -->
        <div class="text-center font-size instrucciones-datos">En caso de que quiera actualizar sus datos, rellene todos los campos y seleccione "Actualizar"</div>

        <!-- Contenido donde aparecen tus datos -->
        <form class="mis-datos-div form" [formGroup]="formUpdate" (ngSubmit)="updateUser()" autocomplete="off">
          <div class="inputs-update">
            <!-- email -->
            <div class="mis-datos-bloques rounded">
              <div class="titulos-datos">CORREO</div>
              <input class="form-control-plaintext text-white" type="email" formControlName="email" placeholder="{{email}}">
            </div>
            <!-- nombre -->
            <div class="mis-datos-bloques rounded">
              <div class="titulos-datos">NOMBRE</div>
              <input class="form-control-plaintext text-white" type="text" formControlName="name" placeholder="{{name}}">
            </div>
            <!-- apellidos -->
            <div class="mis-datos-bloques rounded">
              <div class="titulos-datos">APELLIDOS</div>
              <input class="form-control-plaintext text-white" type="text" formControlName="surname" placeholder="{{surname}}">
            </div>
            <!-- password -->
            <div class="mis-datos-bloques rounded">
              <div class="titulos-datos">CONTRASEÑA</div>
              <input class="form-control-plaintext text-white" type="password" formControlName="password" placeholder="Nueva contraseña">
            </div>
          </div>

          <!-- enviar -->
          <div class="mis-datos-submit rounded">
            <button type="submit" value="Actualizar" class="btn-group boton-actualizar" [disabled]="formUpdate.invalid">ACTUALIZAR</button>
          </div>
        </form>


        <!-- contenedor donde aprecen reservas -->
        <div class="mis-reservas-div h-50">
          <div class="mis-datos-titulo text-center h-25">MIS ÚLTIMAS RESERVAS</div>
          <!-- bloque de las reservas -->
          <div class="reservas ">
            <!-- ngFor recorriendo el array de la clase -->
            <div *ngFor="let reserva of arrReservas" class="cont-reservas h-100 rounded">
              <!-- id reserva -->
              <div class="reserva-info text-center"><div class="titulo-reservas">ID RESERVA {{ reserva.id }}</div></div>
              <!-- hora + fecha de reservas -->
              <div class="reserva-info text-center">{{ reserva.date | date: 'mediumDate' }} a las {{ reserva.hour}}</div>
              <!-- deporte de la reserva con el pipe de uppercase -->
              <div class="reserva-info text-center">{{ reserva.sport | uppercase}}</div>
              <div class="borrar-reservas">
                <button class="admin-boton-borrar rounded btn-dark text-center" type="submit" (click)="deleteBooking(reserva.id)">BORRAR RESERVA</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- bloque footer -->
      <div class="contenedor-footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
