<div class="container vh-100 col-12">
  <div class="row">
    <!-- SIDEBAR -->
    <div class="col-lg-2 col-md-2 col-xs-1" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- contenido página -->
    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-1">

      <!-- titulo -->
      <div class="col-lg-12 text-center" id="titulo">
        <h1>POLIDAPPORTIVO</h1>
      </div>

      <!-- foto -->
      <div id="foto" class="col-lg-12">
        <img src="../../../assets/images/futsal/futsal03.jpg" class="img-fluid">
      </div>

      <!-- Mis datos -->
      <div id="misdatos">
        <h4>MIS DATOS</h4>
          <div id="email">
            <span>EMAIL</span>
            <span>{{email}}</span>
          </div>
          <div id="name">
            <span>NOMBRE</span>
            <span>{{name}}</span>
          </div>
          <div id="apellidos">
            <span>APELLIDOS</span>
            <span>{{surname}}</span>
          </div>
      </div>

      <div class="row">
        <h4>MIS RESERVAS</h4>
        <div *ngFor="let reserva of arrReservas">
          <div class="card">
            <div class="card-body">
                <p class="card-text">{{ reserva.id }}</p>
                <p class="card-text">{{ reserva.sport }}</p>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
