<div class="container-fluid bg-light vh-100 col-12 overflow-hidden">
  <div class="row py-3 h-100">
    <!-- SIDEBAR -->
    <div class="col-lg-2 col-md-2 col-xs-1" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="contenido-bookings col-10">

      <div class="contenedor-titulo" id="titulo">
        <app-header></app-header>
      </div>

      <div class="contenedor-datos-reservas2 h-50 w-100 rounded ">
        <form class="form w-100 h-75 form-fecha rounded" autocomplete="off" [formGroup]="formCalendario" (ngSubmit)="checkHours()">

          <!-- CONTENEDOR SELECCION FECHA -->
          <div class="contenedor-fecha h-50 w-50">
            <div class="texto-fecha text-center">SELECCIONE UN DÍA</div>
            <input class="calendario" type="date" name="fecha" type="date" formControlName="fecha">
            <button class="botones-reservas btn-close-white rounded" type="submit" [disabled]="formCalendario.invalid">SELECCIONAR</button>
          </div>

          <div class="contenedor-hora-sport h-50 w-100">
            <!-- *ngIf="hours.length > 0" -->
            <div>
              <form autocomplete="off" [formGroup]="formReserva" (ngSubmit)="reservar()" class="formulario-horas-sport">

                <div class="contenedor-datos w-75">
                  <div class="horas-deporte w-50">
                    <span class="texto-fecha">SELECCIONA UNA HORA</span><hr>
                    <select formControlName="horas">
                      <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                    </select>
                  </div>
                  <div class="horas-deporte w-50">
                    <span class="texto-fecha">SELECCIONA EL DEPORTE A PRACTICAR</span><hr>
                    <select formControlName="sport">
                      <option value="Futbol Sala">Fútbol Sala</option>
                      <option value="Baloncesto">Baloncesto</option>
                      <option value="Balonmano">Balonmano</option>
                      <option value="Badminton">Badminton</option>
                      <option value="Hockey">Hockey</option>
                      <option value="Patinaje">Patinaje</option>
                      <option value="Volleyball">Volleyball</option>
                    </select>
                  </div>
                </div>
                <div class="contenedor-boton">
                  <button class="botones-reservas mt-4 rounded btn-close-white" type="submit" [disabled]="formReserva.invalid">
                      RESERVAR
                  </button>
                </div>
              </form>
            </div>
          </div>
        </form>
      </div>

      <div class="contenedor-footer">
        <app-footer></app-footer>
      </div>

    </div>

    <!-- <div class="col-lg-10 col-md-10 col-sm-11 col-xs-1">

      <div class="col-lg-12 text-center" id="titulo">
        <span>TITULO</span>
      </div>

      <form class="form" autocomplete="off" [formGroup]="formCalendario" (ngSubmit)="checkHours()">
        <span>Seleccione un día </span>
        <input type="date" name="fecha" type="date" formControlName="fecha">
        <button class="login100-form-btn" type="submit" [disabled]="formCalendario.invalid">
              Seleccionar
        </button>
      </form>
      <hr>
      <div *ngIf="hours.length > 0">
        <form autocomplete="off" [formGroup]="formReserva" (ngSubmit)="reservar()">

          <div>
            <span>Seleccione horas disponibles</span>
            <select formControlName="horas">
              <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
            </select>
          </div>

          <div>
            <span>Seleccione deporte</span>
            <select formControlName="sport">
              <option value="Futbol Sala">Fútbol Sala</option>
              <option value="Baloncesto">Baloncesto</option>
              <option value="Balonmano">Balonmano</option>
              <option value="Badminton">Badminton</option>
              <option value="Hockey">Hockey</option>
              <option value="Patinaje">Patinaje</option>
              <option value="Volleyball">Volleyball</option>
            </select>
          </div>

          <div>
            <button class="login100-form-btn" type="submit" [disabled]="formReserva.invalid">
                Reservar
            </button>
          </div>
        </form>
      </div>

    </div> -->
  </div>
</div>

