.container{
  background-color: aquamarine;
  border: 1px solid black;
}

h1{
  font-family: Cocogoose;
  font-size: 6rem;
  font-weight: bold;
}

img{
  width: 100%;
  position: relative;
  bottom: 80px;
}

#foto{
  overflow: hidden;
  object-fit: contain;
  background-color: black;
  height: 40%;
}

/* *{
  border: 1px solid black;
} */

#contenido{
  margin-top: 3%;
  margin-left: 1px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

#misdatos{
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

#email{
  grid-column: 1;
}

#nombre{
  grid-column: 2;
}
#apellidos{
  grid-column: 3;
}

#misreservas{
  grid-column: 1;
  grid-row: 2;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
