<div class="container-fluid vh-100 col-12">
  <div class="row py-3 h-100">
    <!-- SIDEBAR -->
    <div class="col-lg-2 col-md-3 col-xs-4" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="contenido-bookings col-lg-10 col-md-9 col-xs-8">

      <div class="contenedor-titulo" id="titulo">
        <app-header></app-header>
      </div>

      <div class="contenedor-datos-reservas2 h-50 w-100 rounded ">
        <form class="form w-100 h-75 form-fecha rounded" autocomplete="off" [formGroup]="formCalendario" (ngSubmit)="checkHours()">

          <!-- CONTENEDOR SELECCION FECHA -->
          <div class="contenedor-fecha h-50 w-50">
            <div class="texto-fecha text-center">SELECCIONE UN DÍA</div>
              <div class="calendario-boton">
                <input class="calendario" type="date" name="fecha" type="date" formControlName="fecha">
                <button class="botones-reservas boton-fecha btn-close-white rounded" type="submit" [disabled]="formCalendario.invalid">SELECCIONAR</button>
              </div>
            </div>

          <div class="contenedor-hora-sport h-50 w-100">
            <!--  -->
            <div *ngIf="hours.length > 0">
              <form autocomplete="off" [formGroup]="formReserva" (ngSubmit)="reservar()" class="formulario-horas-sport">

                <div class="contenedor-datos">
                  <div class="horas-deporte">
                    <span class="texto-hora-sport">SELECCIONA UNA HORA</span><hr>
                    <select formControlName="horas">
                      <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                    </select>
                  </div>
                  <div class="horas-deporte">
                    <span class="texto-hora-sport">SELECCIONA EL DEPORTE A PRACTICAR</span><hr>
                    <select formControlName="sport">
                      <option value="Futbol Sala">Fútbol Sala</option>
                      <option value="Baloncesto">Baloncesto</option>
                      <option value="Balonmano">Balonmano</option>
                      <option value="Badminton">Badminton</option>
                      <option value="Hockey">Hockey</option>
                      <option value="Patinaje">Patinaje</option>
                      <option value="Volleyball">Volleyball</option>
                    </select>
                  </div>
                </div>
                <div class="contenedor-boton">
                  <button class="botones-reservas rounded btn-close-white" type="submit" [disabled]="formReserva.invalid">
                      RESERVAR
                  </button>
                </div>
              </form>
            </div>
          </div>
        </form>
      </div>

      <div class="contenedor-footer">
        <app-footer></app-footer>
      </div>

    </div>
  </div>
</div>

